# Exploratory Data Analysis

## Introduction

* This notebook will be used to perform EDA on the training data to understand the hidden patterns and correlations.

In [5]:
# Importing libraries
import os              # To interact with OS(get directory info)
import pandas as pd    # For data manipulation
import matplotlib.pyplot as plt  # For visualisations

In [25]:
# reading training data
df = pd.read_csv(os.path.join(os.path.dirname('.'), '../Data Cleaning/Clean_train_data.csv'), index_col = 0)

In [26]:
df.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [22]:
df.isnull().any()

id          False
keyword      True
location     True
text         True
target      False
dtype: bool

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    4949 non-null object
text        7612 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 356.9+ KB

In [28]:
df.loc[df['favorite_color'] == 'yellow']

        id          keyword location text  target
5115  7295  nuclear reactor      NaN  NaN       0