# Data Cleaning

## Introduction

* This notebook goes through a necasssary step of cleaning the data before it is used for exploratory data analysis. 
* The input of this notebook is a training dataset in csv format sourced from Kaggle. https://www.kaggle.com/c/nlp-getting-started
* The output of this notebook is a csv file with clean and lemmatized text data.

## Reading and Understanding the dataset

In [580]:
# Importing libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re           # regular expression 
import string       # String Handling
import random       #For selecting random rows
import nltk         # Natural langauage processing toolkit
from nltk.stem import WordNetLemmatizer  #Used for Lemmatizing the text
from nltk.corpus import wordnet          #Used for POS tagging 
from nltk.corpus import stopwords        #Stopwords to be removed from text

Reading the training data into a dataframe using pandas and viewing the top 20 rows of data

In [581]:
train_df = pd.read_csv("train.csv")
train_df.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0

First 20 rows in 'Keyword' and 'Location' column are NaNs. Now Checking if there are nulls in other columns of the dataframe.

In [582]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

Checking number of unique values in 'keywords' and 'location'.

In [583]:
len(train_df.keyword.unique())

222

In [584]:
len(train_df.location.unique())

3342

A glimpse at 30 rows from the 'locations' column selected randomly

In [585]:
random.sample(list((train_df.location.unique())),k=30)

['US, PA',
 ' Neverland ',
 'Maryland ',
 'Livonia, MI',
 'Medford, NJ',
 '#MayGodHelpUS',
 'Somewhere in China.',
 'Na:tinixw / Hoopa, Berkeley',
 'Tripsburg, ms.',
 '?',
 'NYC :) Ex- #Islamophobe',
 'Worldwide',
 'Wanderlust',
 'Canada ',
 "'SAN ANTONIOOOOO'",
 'New Chicago',
 'Dallas Fort-Worth',
 'Roads/Trails Everywhere',
 'South Korea GMT+9',
 'Here & There',
 'New York',
 'MAURITIUS',
 'Boston, Massachusetts',
 'Chicago, IL 60607',
 'Hartford  London Hong Kong',
 'The Canopy Kingdom',
 'Definitely NOT the stables',
 'University of South Florida',
 'Helsinki, Finland',
 'Arundel ']

A glimpse at 30 rows from the 'keywords' column selected randomly

In [586]:
random.sample(list((train_df.keyword.unique())),k=30)

['burning',
 'suicide%20bomb',
 'crushed',
 'flattened',
 'drought',
 'radiation%20emergency',
 'survivors',
 'survived',
 'sinking',
 'threat',
 'mass%20murder',
 'floods',
 'typhoon',
 'crashed',
 'blown%20up',
 'outbreak',
 'curfew',
 'eyewitness',
 'snowstorm',
 'chemical%20emergency',
 'windstorm',
 'hazardous',
 'fatalities',
 'mass%20murderer',
 'detonate',
 'landslide',
 'dust%20storm',
 'wild%20fires',
 'rescue',
 'storm']

A glimpse at 30 rows from the 'text' column selected randomly

In [587]:
# Selecting 30 random from text column randomly
random.sample(list((train_df.text)),k=30)

["Doing Giveaway Music Kit Dren Death's Head Demolition: http://t.co/fHKhCqPl7j",
 "There's a big storm brewing dark clouds thunder and rain carrying thick dust. This could be interesting.",
 'Read a Schoolboy\x89Ûªs Eyewitness Account of Hiroshima http://t.co/pq0D7MH3qr',
 "I'm drowning in hw now and that's w/o going to swim ohlordy",
 "@lauren_miller_7 she won't harm you",
 "You can never escape me. Bullets don't harm me. Nothing harms me. But I know pain. I know pain. Sometimes I share it. With someone like you.",
 "PRAYERS FOR MY COUSIN! He's in California helping with the wild fires.",
 "@WeLoveRobDyrdek @adrian_peel not a damn clue. Tried to see how many clicks I could get before I blew up. That's how I played.",
 'Nice job Calgary transit ! http://t.co/RGOGUyt0LF',
 '@wfaaweather Pete when will the heat wave pass? Is it really going to be mid month? Frisco Boy Scouts have a canoe trip in Okla.',
 'Hiroshima: 70 years since the worst mass murder in human history. Never forget. http://t.co/jLu2J5QS8U',
 '@Welles_7 he was injured. He is a pro bowl back.',
 "Thanks a lot roadworks men cos a tube strike wasn't disruptive enough so having to walk the desolate route from Tottenham to .....",
 '.@CityofCalgary activates emergency plan amid severe thunderstorm warning http://t.co/pc7S8NxJ6Q #yyc #abstorm http://t.co/9xoHmMlMDY',
 'HTML5 Beginners Crash Course http://t.co/Y32oWBroVF #course http://t.co/Vr2U4cErW8',
 'Short Reading\n\nApocalypse 21:1023 \n\nIn the spirit the angel took me to the top of an enormous high mountain and... http://t.co/v8AfTD9zeZ',
 '1.9 #Earthquake in 5Km S Of Volcano Hawaii #iPhone users download the Earthquake app for more information http://t.co/V3aZWOAmzK',
 '@petereallen @HuffPostUK @bbc5live How significant do you think the iconic pic of Church (maybe) ruins and less substantial efforts razed?',
 '@NickLee8  i went to school in a bombed out East End of London3 families to one house no bathroom outside loo &amp; poor so whats yr point',
 'Plane debris discovered on Reunion Island belongs to flight MH370 \x89ÛÒ Malaysian PM http://t.co/jkc0DIqvXC',
 "Next Man Up---AH SCREW THIS! I'm so tired of injuries.  \n\nWhat happened to Camp Cupcake? More like Camp Cramp and Break.",
 "Holmgren: We referred to those 35 days as 'the hostage situation.' We were Lou's 'hostages.'",
 "A new tropical cyclone is forming near Guam.\n\nOnce it is formed it will be called 'Molave'.",
 'Orchid - Sign Of The Witch http://t.co/YtkXwPyIHg',
 '#hot  Funtenna: hijacking computers to send data as sound waves [Black Hat 2015] http://t.co/J2aQs5loxu #prebreak #best',
 "I added a video to a @YouTube playlist http://t.co/1vjAlJA1SX GTA 5 Funny Moments - 'OBLITERATION!' (GTA 5 Online Funny Moments)",
 'Learn How I Gained Access To The Secrets Of The Top Earners &amp; Used Them To Explode My Home Business Here: http://t.co/SGXP1U5OL1 Please #RT',
 'Madhya Pradesh Train Derailment: Village Youth Saved Many Lives',
 'Police Officer Wounded Suspect Dead After Exchanging Shots',
 '@Drsarwatzaib070 come on. IK will face MCourt for attacking parliment and hijacking TV station.']

## Observation

Some data incosistencies or redundant information found in the dataset are as follows

* Upper case and lower case at unexpected location
* Punctuations
* Numbers in text 
* Use of cities, states and Country names. (Granularity problem)
* Special characters such as \x89ÛÒ and \n
* Hyperklinks
* Tags in tweets

## Cleaning the data

The method below does the following to clean anomalies in 'location' column:

* Changes all the text to lower case
* Removes punctutations
* Removes texts with numbers
* Removes cities names if country/state names are mentioned. (High level granularity is maintained)

In [588]:
# Method to chaange text to lower case and remove punctionation
def cleaning_location(text):
    text = str(text)
    text = text.lower()    #lower case
    text = text.split(',')[-1:][0].strip() # Removing city names when country/state name is present
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  #removing punctuations
    text = re.sub('\w*\d\w*', '', text) #removing text with number
    return text

# Applying the method to location column
train_df.location = train_df.location.apply(cleaning_location)

The method below does the following to clean anomalies in 'keyword' column:

* Changes all the text to lower case
* Removes punctutations
* replaces number with space (as %20 was found in middle of two words)

In [589]:
def cleaning_keyword(text):
    text = str(text)
    text = text.lower()    ##lower case
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('(\d+)', ' ', text)   #replacing numbers with space
    return text

# Applying the method to keyword column
train_df.keyword = train_df.keyword.apply(cleaning_keyword)

The following method to clean anomalies in 'text' column does the following

* Changes all the text to lower case
* Removes words starting with @ to remove the tags and mentions example: @barackobama
* Adds a column with hashtag values
* Removes links
* Removes punctuation
* Removes words with numbers
* Removes special characters examples: \x89û,\x89ûó etc 
* Removes '\n'

In [590]:
def cleaning_text(text):
    
    text = str(text)
    text = text.lower()    ##lower case
    
    text = re.sub(r'@[A-Za-z]+[A-Za-z0-9-_]+', '',text) #removing any word starting with @   \w
    text = re.sub(r'https|www|http\S+', '', text)  #removing any word starting with http
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('\w*\d\w*', '', text)  #removing words with numbers
    text = re.sub(r'[^\x00-\x7F]+', '', text) # removing special characters
    text.replace("\n","")
    return text

The following method converts NLTK tags to wordnet tags which would be used to lemmatize the words in the following method

In [591]:
def wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:          
        return None

The following method is used to lemmatize the sentences in the following order:

* Clean the sentences by calling the cleaning_text method on each sentence.
* Tokenizing the sentence and generating a nltk POS tag for each word in the cleaned sentence.
* Converting the nltk POS tag to Wordnet POS tag by calling wordnet_tag method.
* Removes the stopwords
* Lemmatizes the tokens using the pos tags

In [592]:
lemmatizing = WordNetLemmatizer()

def lemmatize_sentence(sentence):
    sentence = cleaning_text(sentence) #Cleaning the sentence
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))  #Tokenizing and tagging each word 
    wordnet_tagged = map(lambda x: (x[0], wordnet_tag(x[1])), nltk_tagged)  # Coverting the NLTK tags to wordnet tag
    
    #Lemmatizing the tagged tokens
    lemmatized_sentence = [] #empty list for lemmatized words
    for word, tag in wordnet_tagged:
        if word not in set(stopwords.words('english')):  #removing stopwords
            if tag is None:                   
                lemmatized_sentence.append(word) #adding the word as it is if POS tag missing
            else:        
                #else use the tag to lemmatize the token
                lemmatized_sentence.append(lemmatizing.lemmatize(word, tag))  ##lemmatizing the token using the POS tag
    return " ".join(lemmatized_sentence)

In [593]:
# Applying the lemmatizing method to text column 
train_df.text= train_df.text.apply(lemmatize_sentence)

Let's have a look at the cleaned dataframe

In [594]:
train_df.sample(n=30)

,id,keyword,location,text,target
7182,10291,weapon,nan,nothing wrong lethal weapon series great yes t...,0
7440,10647,wounds,kashmir,acc study conduct skim morethan population kas...,1
3903,5553,flattened,delhi,flatten frog,0
6382,9120,suicide bomb,lagos unilag,old pkk suicide bomber detonate bomb turkey ar...,1
1049,1518,body bags,tx,shoot shit till see body bag,0
1133,1633,bombing,nan,cryptic word guide pilot hiroshima bomb mission,1
1374,1981,bush fires,nan,ted cruz fire back jeb amp bush lose republica...,0
319,465,armageddon,united states,pbban fighterdena armageddon kill flag fast xp...,0
2089,3003,death,nan,call text niggas bff amp boyfriend love boy de...,0
1183,1703,bridge collapse,nigeria,urgentthere currently storey building church b...,1
2087,3000,dead,united states,wyrmwood road dead fuck awesome awesome end aw...,0
3090,4436,electrocute,london,seriously electrocute half uk army touch bangt...,0
5560,7935,rainstorm,nan,rainstorm update north south,1
4866,6929,mass murderer,fresno,happy boy mass murderer,1
5489,7832,quarantine,vìa lìáctea,reddit quarantine offensive content reddit cof...,0
5947,8496,screaming,nan,quiet enough literally hear phandom scream tyl...,0
3182,4568,emergency plan,canada,city activate municipal emergency plan primari...,1
7548,10789,wrecked,pennsylvania,four hundred wrecked car cost apiece purchase ...,0
3994,5673,floods,london,there person amp reckon youre die brain flood ...,0
2320,3336,demolished,ireland,suite office come salvis bistro site former sa...,0
6746,9665,tornado,nan,lily xo sexy cowgirl stick view download video,0
4809,6845,loud bang,nan,need work office bang fav future jam loud,0
4398,6254,hijacking,greece,murderous story america first hijack,1
2110,3030,death,nan,katherines death,0
3128,4492,electrocuted,nan,elsa gon na end get electrocute shes gon na en...,0
323,469,armageddon,,armageddon,0
1954,2813,cyclone,republic of the philippines,new tropical cyclone form near guam form call ...,1
7428,10626,wounded,virginia,serve veteran oifoef vet physical wound many i...,1
963,1393,body bag,nan,new summer long thin body bag hip word skirt blue,0
4044,5744,forest fires,nan,little concerned number forest fire ill live,1

Saving the cleaned dataframe as csv to be used for Modelling.

In [596]:
train_df.to_csv("Clean_train_data.csv")

Cleaning test data using the predefined methods.

In [598]:
test_df = pd.read_csv('test.csv')

In [599]:
# Applying the method to location column
test_df.location = test_df.location.apply(cleaning_location)
# Applying the method to keyword column
test_df.keyword = test_df.keyword.apply(cleaning_keyword)

# Applying the lemmatizing method to text column 
test_df.text= test_df.text.apply(lemmatize_sentence)

In [602]:
test_df.to_csv('Clean_test_data.csv')