# Data Cleaning

## Introduction

* This notebook goes through a necasssary step of cleaning the data before it is used for exploratory data analysis. 
* The input of this notebook is a training dataset in csv format sourced from Kaggle. 
* The output of this notebook is a Term frequency-inverse document frequency(TF-IDF) Matrix

## Reading and Understanding the dataset

In [448]:
# Importing libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re           # regular expression 
import string       # String Handling
import random       #For selecting random rows
import nltk         # Natural langauage processing toolkit
from nltk.stem import WordNetLemmatizer  #Used for Lemmatizing the text
from nltk.corpus import wordnet          #Used for POS tagging 
from nltk.corpus import stopwords        #Stopwords to be removed from text

Reading the training data into a dataframe using pandas and viewing the top 20 rows of data

In [416]:
train_df = pd.read_csv("train.csv")
train_df.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0

First 20 rows in 'Keyword' and 'Location' column are NaNs. Now Checking if there are nulls in other columns of the dataframe.

In [417]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

Checking number of unique values in 'keywords' and 'location'.

In [418]:
len(train_df.keyword.unique())

222

In [419]:
len(train_df.location.unique())

3342

A glimpse at 50 rows from the 'locations' column selected randomly

In [420]:
random.sample(list((train_df.location.unique())),k=50)

['Georgia ? Tennessee',
 'San Francisco, CA',
 'Birmingham',
 'Pig Symbol, Alabama',
 'Nantes, France',
 'Oakland, CA',
 'eritrean',
 'Fountain City, IN ',
 '?????????????, Thailand ',
 'Cumming, GA',
 'Lyallpur, Pakistan',
 'Reddit',
 'Burlington, VT',
 'Waialua, Hawaii',
 'Madison, Wisconsin, USA',
 'Up a hill',
 '36 & 38',
 'WESTSIDE OF PHILLY 7? BLOCK??',
 'louisville, kentucky',
 'rowyso dallas ',
 'University of Chicago',
 'MAD as Hell',
 'Groton, CT',
 'Gwersyllt, Wales',
 'Holland MI via Houston, CLE',
 'Portoviejo-Manabi-Ecuador',
 'MA via PA',
 'BILASPUR,CHHATTISGARH,495001',
 'Alexandria, VA, USA',
 'miami x dallas ',
 'State of Georgia',
 'U.K.',
 'Orlando/Cocoa Beach, FL',
 'NYHC',
 'Playa',
 'Bucks County, Pa',
 'Spain',
 'Instagram: trillrebel_',
 'Indonesia',
 'in the Word of God',
 'Atlanta,Ga',
 "The Sun's Corona",
 'Toronto, Bob-Lo, Miami Beach',
 'Warri',
 'SaudI arabia - riyadh ',
 'http://twitch.tv/jcmonkey',
 'NYC',
 'Ames, Iowa',
 'Australia ',
 'Here.']

A glimpse at 50 rows from the 'keywords' column selected randomly

In [421]:
random.sample(list((train_df.keyword.unique())),k=50)

['wounds',
 'ablaze',
 'deluged',
 'volcano',
 'demolition',
 'devastated',
 'inundation',
 'casualties',
 'obliterated',
 'destruction',
 'wild%20fires',
 'curfew',
 'burned',
 'fatality',
 'flood',
 'demolished',
 'avalanche',
 'rioting',
 'deaths',
 'annihilated',
 'sirens',
 'ambulance',
 'lava',
 'body%20bag',
 'suicide%20bomber',
 'sunk',
 'drowned',
 'bush%20fires',
 'wrecked',
 'flames',
 'exploded',
 'war%20zone',
 'storm',
 'meltdown',
 'massacre',
 'casualty',
 'thunderstorm',
 nan,
 'windstorm',
 'destroy',
 'twister',
 'forest%20fire',
 'wreckage',
 'bridge%20collapse',
 'screamed',
 'bombing',
 'flattened',
 'trapped',
 'terrorist',
 'hostage']

A glimpse at 30 rows from the 'text' column selected randomly

In [422]:
# Selecting 30 random from text column randomly
random.sample(list((train_df.text)),k=30)

['Something Frightening is Happening to the Weather in the Middle East http://t.co/bDOTQ8dSlN',
 'ITS A TIE DYE EXPLOSION ON IG HELP ME. IM DROWNING IN TIE DYE',
 'Your PSA for the day: If a fire truck is behind you with lights going MOVE OVER!!! so they can get to their call.',
 'Aug. 06 2015 Radio Show articles \x89ÛÒ  \n1] Eyewitness Account of Abortion Organ Harvesting by Planned Parenthood: http://t.co/49izkbOHri',
 'WWE 2k15 MyCareer EP18 Tyrone body bagging dudes: http://t.co/mr5bI4KD82 via @YouTube',
 'Ah yes the gays are totally destroying America. I can see buildings burning and meteors crashing into schools wow',
 'Washington Post - 4 dead dozens injured in Gaza blast near house leveled in summer war http://t.co/VjXa13n8Ap',
 "But put 'Flood of Fire' at the top of the list.  https://t.co/p5JPjgiipW",
 'Consent Order on cleanup underway at CSX derailment site - Knoxville News Sentinel http://t.co/GieSoMgWTR http://t.co/NMFsgKf1Za',
 "Am now repped by the fantastic Laura Milne @TheJonesesVoice for all your liguistic needs. And that's some tongue twister tweets",
 '\x89ÛÏA voluntary evacuation is being recommended at this time\x89Û\x9d for Pickerel Lake cabins across highway from #Reidlake fire says MACA #NWT #YZF',
 'Truth...\nhttps://t.co/h6amECX5K7\n#News\n#BBC\n#CNN\n#Islam\n#Truth\n#god\n#ISIS\n#terrorism\n#Quran\n#Lies http://t.co/B8iWRdxcm0',
 'BLOG: Rain much needed as drought conditions worsen: Right now Charlotte and much of the surrounding area have\x89Û_ http://t.co/OLzaVTJFKH',
 '@RetiredFilth people in sydney woke up to the whole sky being red after a dust storm..like unreal.',
 'He just wrecked all of you http://t.co/y46isyZkC8',
 'In 2014 I will only smoke crqck if I becyme a mayor. This includes Foursquare.',
 'You made my mood go from shitty af to panicking af istg',
 'I just wanted to watch Paper Towns but the buildings on fire ?????',
 'Does This Prepare Us? HHS Selects 9 Regional Special #Pathogen Treatment Centers #Bioterrorism #Infectious #Ebola http://t.co/Qmo1TxxDkj',
 '#hot  Funtenna: hijacking computers to send data as sound waves [Black Hat 2015] http://t.co/cOMuiOk3mP #prebreak #best',
 'There is no greater tragedy than becoming comfortable with where you are in life.',
 '@alexbelloli well now I know lol',
 "Attack on Titan game on PS Vita yay! Can't wait for 2016",
 'Emergency crews respond to chemical spill downtown beaumont #benews http://t.co/PME0HOJVYA',
 'Haha South Tampa is getting flooded hah- WAIT A SECOND I LIVE IN SOUTH TAMPA WHAT AM I GONNA DO WHAT AM I GONNA DO FVCK #flooding',
 'Am I hearing thunder or trucks?',
 '#hot  Funtenna: hijacking computers to send data as sound waves [Black Hat 2015] http://t.co/MIs0RjxuIr #prebreak #best',
 'World Class Tgirl Ass 02 - Scene 4 - Pandemonium http://t.co/iwCu3DgI1a',
 '#fun #instagramers http://t.co/M3NJvvtYgN\n\nJeb Bush said earlier this week that not only does he want to obliterate Planned Parenthood bu\x89Û_',
 'Was in a bad ass mood today got on the elevator at school and decided to make explosion noses everytime some one pressed a button ??']

## Observation

Some data incosistencies or redundant information found in the dataset are as follows

* Upper case and lower case at unexpected location
* Punctuations
* Numbers in text 
* Use of cities, states and Country names. (Granularity problem)
* Special characters such as \x89ÛÒ and \n
* Hyperklinks
* Tags in tweets

## Cleaning the data

The method below does the following to clean anomalies in 'location' column:

* Changes all the text to lower case
* Removes punctutations
* Removes texts with numbers
* Removes cities names if country/state names are mentioned. (High level granularity is maintained)

In [423]:
# Method to chaange text to lower case and remove punctionation
def cleaning_location(text):
    text = str(text)
    text = text.lower()    #lower case
    text = text.split(',')[-1:][0].strip() # Removing city names when country/state name is present
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  #removing punctuations
    text = re.sub('\w*\d\w*', '', text) #removing text with number

    
    return text

# Applying the method to location column
train_df.location = train_df.location.apply(cleaning_location)

The method below does the following to clean anomalies in 'keyword' column:

* Changes all the text to lower case
* Removes punctutations
* replaces number with space (as %20 was found in middle of two words)

In [424]:
def cleaning_keyword(text):
    text = str(text)
    text = text.lower()    ##lower case
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('(\d+)', ' ', text)   #replacing numbers with space
    return text

# Applying the method to keyword column
train_df.keyword = train_df.keyword.apply(cleaning_keyword)

The following method extracts the hashtags from the tweets. These hashtags play a vital role in interpreting the context of the tweet

In [425]:
def retreive_hashtags(text):
    hash_tag = ''
    hash_tag = re.sub('#','',' '.join(re.findall('(#[A-Za-z]+[A-Za-z0-9-_]+)', text)))  #retreiving hastags
    return hash_tag

The following method to clean anomalies in 'text' column does the following

* Changes all the text to lower case
* Removes words starting with @ to remove the tags and mentions example: @barackobama
* Adds a column with hashtag values
* Removes links
* Removes punctuation
* Removes words with numbers
* Removes special characters examples: \x89û,\x89ûó etc 
* Removes '\n'

In [426]:
def cleaning_text(text):
    
    text = str(text)
    text = text.lower()    ##lower case
    
    text = re.sub(r'@[A-Za-z]+[A-Za-z0-9-_]+', '',text) #removing any word starting with @   \w
    text = re.sub(r'https|www|http\S+', '', text)  #removing any word starting with http
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('\w*\d\w*', '', text)  #removing words with numbers
    text = re.sub(r'[^\x00-\x7F]+', '', text) # removing special characters
    text.replace("\n","")
    return text


# Applying the method to retreive hastags and add to the hastag column
train_df["Hasthags"] = ''
train_df.Hasthags= train_df.text.apply(retreive_hashtags)

# Applying the method to the text column in the dataframe
train_df.text= train_df.text.apply(cleaning_text)

The following method converts NLTK tags to wordnet tags which would be used to lemmatize the words.

In [456]:
def wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:          
        return None

In [457]:
lemmatizing = WordNetLemmatizer()

def lemmatize_sentence(sentence):
    
    #tokenize the sentence and find the POS tag for each token
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))  
    
    #tuple of (token, wordnet_tag)
    wordnet_tagged = map(lambda x: (x[0], wordnet_tag(x[1])), nltk_tagged)
    lemmatized_sentence = []
    for word, tag in wordnet_tagged:
        if word not in set(stopwords.words('english')):
            if tag is None:
                #if there is no available tag, append the token as is
                lemmatized_sentence.append(word)
            else:        
                #else use the tag to lemmatize the token
                lemmatized_sentence.append(lemmatizing.lemmatize(word, tag))
    return " ".join(lemmatized_sentence)