# Data Cleaning

## Introduction

* This notebook goes through a necasssary step of cleaning the data before it is used for exploratory data analysis. 
* The input of this notebook is a training dataset in csv format sourced from Kaggle. 
* The output of this notebook is a Term frequency-inverse document frequency(TF-IDF) Matrix

## Reading and Understanding the dataset

In [323]:
# Importing libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re           # regular expression 
import string       # String Handling
import random       #For selecting random rows

Reading the training data into a dataframe using pandas and viewing the top 20 rows of data

In [324]:
train_df = pd.read_csv("train.csv")
train_df.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0

First 20 rows in 'Keyword' and 'Location' column are NaNs. Now Checking if there are nulls in other columns of the dataframe.

In [325]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

Checking number of unique values in 'keywords' and 'location'.

In [326]:
len(train_df.keyword.unique())

222

In [327]:
len(train_df.location.unique())

3342

A glimpse at 50 rows from the 'locations' column selected randomly

In [328]:
random.sample(list((train_df.location.unique())),k=50)

['Galveston, Texas',
 'Gaborone, Botswana',
 'Methville, CA',
 'Leicester, England',
 'Epic City, BB.',
 'LA/OC/Vegas',
 'New Delhi, Delhi',
 'taking pain like pleasure',
 'Silver Spring, MD',
 'Youngstown, OH',
 'Stay Tuned ;) ',
 'EARTH',
 'ny',
 'Victoria, Tx.',
 'Horsemind, MI',
 'RSN: Tru',
 'Unites States',
 'Fort Collins, CO',
 'ELVY',
 'El Dorado, Arkansas',
 'STL ?NOLA',
 'CA physically- Boston Strong?',
 'Jump City',
 'Dudetown',
 'Kawartha Lakes, Ontario, Canad',
 'EveryWhere',
 'KOLKATA',
 'Kokomo, In',
 'å_å_Los Mina City\x89ã¢',
 'Santiago Bernabeau',
 'contactSimpleNews@gmail.com',
 'Studio',
 'NYC area',
 'The P (South Philly)',
 'chillin at ceder rapids',
 'Wausau, Wisconsin',
 'Bristol, England',
 'Bishops Lydeard, England',
 'Between the worlds ',
 'Moscow',
 'New Chicago',
 'Atlanta(ish), GA',
 "elena's bed // info on link",
 'Insula Barataria',
 'Alger-New York-San Francisco',
 'Whiterun, Skyrim',
 '//RP\\ ot @Mort3mer\\\\',
 'Miami Beach, Fl',
 'Fruit Bowl',
 'Sunrise Manor, NV']

A glimpse at 50 rows from the 'keywords' column selected randomly

In [329]:
random.sample(list((train_df.keyword.unique())),k=50)

['fatality',
 'cliff%20fall',
 'destruction',
 'obliterated',
 'demolition',
 'death',
 'bush%20fires',
 'crashed',
 'flames',
 'meltdown',
 'dead',
 'evacuation',
 'detonation',
 'bleeding',
 'crushed',
 'sirens',
 'fire',
 'harm',
 'bioterror',
 'blaze',
 'engulfed',
 'siren',
 'burned',
 'suicide%20bomber',
 'violent%20storm',
 'bridge%20collapse',
 'forest%20fires',
 'drowned',
 'devastation',
 'inundation',
 'injured',
 'arson',
 'exploded',
 'blood',
 'typhoon',
 'hijack',
 'hellfire',
 'wounds',
 'aftershock',
 'hostage',
 'deluge',
 'annihilated',
 'seismic',
 'nuclear%20reactor',
 'traumatised',
 'emergency%20services',
 'survived',
 'threat',
 'demolished',
 'burning%20buildings']

A glimpse at 30 rows from the 'text' column selected randomly

In [330]:
# Selecting 30 random from text column randomly
random.sample(list((train_df.text)),k=30)

["@Dead_Dreamer15 ...because if it were on fire that'd be a safety hazard",
 'why are people panicking about results day though hahahah like worrying is going to change your results',
 'Twister was fun https://t.co/qCT6fb8wOn',
 'Maryland mansion fire that killed 6 caused by damaged plug under Christmas tree report says - Into the flames... http://t.co/P1WmkXA9d8',
 '@YoungHeroesID 4. Lava Blast Power Red #PantherAttack',
 '4 THOSE WHO CARE ABOUT SIBLING ABUSE SURVIVORS join the new family tree: http://t.co/LQD1WEfpQd http://t.co/GgnbVZoHWu',
 "@TheLegendBlue @Cozmo23 they'll probably allow us to ascend them but not get them to the damage max values",
 "@SoDamnTrue  we know who u are you're a bleeding heart wannabe pickup artist",
 'im feeling attacked http://t.co/91jvYCxXVi',
 '@_STiiiLO I still got video of u demolished',
 "The way you move is like a full on rainstorm and I'm a house of cards.",
 'Coastal German Shepherd Rescue OC shared a link... http://t.co/P85NwcMkQu #animalrescue | https://t.co/wUDlkq7ncx',
 'Would have just flattened the little midget ?? https://t.co/BhufevaGPu',
 'RT @calestous: Tanzania elephant population declined by 60% in five years census reveals http://t.co/8zy9N6fX9T http://t.co/ITZ9masBvZ',
 "It's a miracle that mankind survived 70 years since one of the worst days in its history. All bets are off if it will survive the next 70.",
 'Watch This Airport Get Swallowed Up By A Sandstorm In Under A Minute http://t.co/7IJlZ6BcSP',
 "'Remembering that you are going to die is the best way I know to avoid the trap of thinking you have something to lose.' \x89ÛÒ Steve Jobs",
 '@snapharmony : Bells toll in Hiroshima as Japan marks 70 years since atomic bombing http://t.co/yPvvqZ8jzt',
 '@Cali74142290 lol natural disaster/hospital crisis something is needed to get rid of some cast members....',
 'Caution: breathing may be hazardous to your health.',
 "If I survive I'll see you tomorrow",
 'San Jose Mercury: Governor Brown allows parole for California school bus hijacker  http://t.co/GpCeCp9kHv',
 'Look at the previous battles. Citizens were committing suicide so to not be under American control. The bomb was the only way. @NBCNews',
 'The Desolate Hope: Part 2: MIRAD: http://t.co/c6lGtOTVSF via @YouTube',
 '#IDFire Parker Ridge Fact Sheet Aug 6 2015 (Parker Ridge Wildfire): Information Phone: 208-267-6773 Email: pa... http://t.co/ZggpaCjP7D',
 'Seven Chinese Christians Are Detained Amid Widespread Anger Over Cross Demolition http://t.co/65xR1p9sOO',
 'Interesting: MH370: Aircraft debris found on La Reunion is from missing Malaysia Airlines ... - ABC ... http://t.co/950xIJhnVH Please RT',
 "Whenever I have a meltdown and need someone @Becca_Caitlyn99 is always like 'leaving in 5' and I don't know how I got so lucky #blessed",
 'MaFireEMS: RT WMUR9: Two buildings involved in fire on 2nd Street in #Manchester. WMUR9  http://t.co/QUFwXRJIql via KCarosaWMUR',
 'This was Boston yesterday after an intense hailstorm [X-Post from /r/cityporn] [4608ÌÑ2474] (\x89Û_ http://t.co/8E6XuhrBKh http://t.co/Qo190N8UdD']

## Observation

Some data incosistencies or redundant information found in the dataset are as follows

* Upper case and lower case at unexpected location
* Punctuations
* Numbers in text 
* Use of cities, states and Country names. (Granularity problem)
* Special characters such as \x89ÛÒ and \n
* Hyperklinks
* Tags in tweets

## Cleaning the data

The method below does the following to clean anomalies in 'location' column:

* Changes all the text to lower case
* Removes punctutations
* Removes texts with numbers
* Removes cities names if country/state names are mentioned. (High level granularity is maintained)

In [331]:
# Method to chaange text to lower case and remove punctionation
def cleaning_location(text):
    text = str(text)
    text = text.lower()    #lower case
    text = text.split(',')[-1:][0].strip() # Removing city names when country/state name is present
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  #removing punctuations
    text = re.sub('\w*\d\w*', '', text) #removing text with number

    
    return text

# Applying the method to location column
train_df.location = train_df.location.apply(cleaning_location)

The method below does the following to clean anomalies in 'keyword' column:

* Changes all the text to lower case
* Removes punctutations
* replaces number with space (as %20 was found in middle of two words)

In [332]:
train_df.location

0       nan
1       nan
2       nan
3       nan
4       nan
       ...
7608    nan
7609    nan
7610    nan
7611    nan
7612    nan
Name: location, Length: 7613, dtype: object

In [333]:
def cleaning_keyword(text):
    text = str(text)
    text = text.lower()    ##lower case
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('(\d+)', ' ', text)   #replacing numbers with space
    return text

# Applying the method to keyword column
train_df.keyword = train_df.keyword.apply(cleaning_keyword)

The following method to clean anomalies in 'text' column does the following

* Changes all the text to lower case
* Removes words starting with @ to remove the tags and mentions example: @barackobama
* Removes links
* Removes punctuation
* Removes words with numbers
* Removes special characters examples: \x89û,\x89ûó etc 
* Removes '\n'

In [334]:
def cleaning_text(text):
    text = str(text)
    text = text.lower()    ##lower case
    text = re.sub(r'@\w+', '',text) ##removing any word starting with @
    text = re.sub(r'https|www|http\S+', '', text)  ##removing any word starting with http
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('\w*\d\w*', '', text)  #removing words with numbers
    text = re.sub(r'[^\x00-\x7F]+', '', text) # removing special characters
    text.replace("\n","")
    return text 

# Applying the method to the text column in the dataframe
train_df.text = train_df.text.apply(cleaning_text)

In [335]:
train_df.sample(n=50)

,id,keyword,location,text,target
2072,2974,dead,somewhere in portugal,if its a war you came to see you will never se...,0
1799,2585,crash,galatians,please keep josh the salyersblairhall families...,0
1334,1927,burning buildings,weit û¢ ixwin,incredible the children were screaming buildi...,1
6495,9287,sunk,nan,i felt bad for romero he cared but mental stu...,0
6738,9655,thunderstorm,arkansas,nws has issued a severe thunderstorm warning f...,1
5195,7416,obliterated,nan,we destroyed the zimmerman fan club on twitter...,0
1385,1996,bush fires,loughborough,pleas for global warming dont really work wh...,1
6997,10034,twister,ny,crazy mom threw teen daughter a nude twister s...,1
6003,8575,screams,nan,so just followed me and i cannot contain my s...,0
3374,4832,evacuation,berkeley,elem pomo helping the displaced from the rocky...,1
807,1173,blight,kama france,there is a theory that makes way too much sen...,0
1376,1985,bush fires,melbourne australia,the public health team was traumatised after t...,1
572,828,battle,california,how did i miss that gary buseys son plays dixi...,0
3247,4667,engulfed,uk,tube strike live latest travel updates as lond...,1
7150,10246,volcano,right here,live somewhere else for a while and da mill a...,1
4454,6337,hostages,nv,hot specially modified to land in a stadium ...,1
690,994,blazing,state of georgia,not really sadly i have come to expect tha...,0
582,841,bioterror,ga,fedex no longer will ship potential bioterror ...,0
6278,8969,storm,new delhi,storm and silence by,0
382,551,arson,usa,thousands attend a rally organized by peace no...,1
5911,8441,sandstorm,usa,watch this airport get swallowed up by a sands...,1
1400,2020,casualties,le moyne,need to stop bottling things up because when e...,1
5046,7194,mudslide,nan,even the one that looked like a mudslide,0
7082,10143,upheaval,attock,ancient mayan tablet found via,0
3275,4700,epicentre,nc,tomorrow kick off your weekend with drinks amp...,0
770,1114,blew up,nan,like literally blew up,0
407,585,arson,nan,owner of chicagoarea gay bar admits to arson s...,1
4578,6511,injuries,london uk,look what shad forsythe has done in year we ...,0
775,1122,blew up,nan,did anyone else see that fireball falling to e...,1
3126,4490,electrocuted,maharashtra,watching a man electrocuted on the roof of mum...,1
1124,1621,bombed,melbourne,today japan marks yrs since the us a bombed ...,1
130,187,aftershock,nan,i love you bb,0
6465,9249,sunk,new york,aquarium ornament wreck sailing boat sunk ship...,1
44,64,ablaze,nan,i wanted to set chicago ablaze with my preachi...,0
893,1293,bloody,nan,gotta try to let go of so many bloody things smh,0
6481,9268,sunk,nairobi kenya,arrestpastornganga it so worrying see how som...,0
1391,2007,bush fires,london,the bush fires in ca are so crazy,1
7232,10358,weapons,nan,ukraine argues for us weapons during pelosis v...,1
460,664,attack,nan,delhi government to provide free treatment to ...,1
1621,2341,collapse,europe,greeces tax revenues collapse as debt crisis c...,1
2355,3390,demolition,arthas us,doing giveaway music kit dren deaths head demo...,0
3491,4989,explosion,nan,cum explosion\n\n \n \n \n \n\n\n\n,0
1892,2723,crushed,ph,a diamond is just a piece of charcoal that han...,1
4465,6348,hostages,heathrow,specially modified to land in a stadium and r...,1
5595,7983,razed,nan,the latest more homes razed by northern califo...,1
6327,9044,structural failure,canada,spacex founder musk structural failure took do...,1
7357,10534,wildfire,california,california wildfire destroys more homes but cr...,1
5549,7915,rainstorm,rhode island,going to the beach with jim alves means a guar...,0
3080,4421,electrocute,mass,tries to electrocute self with phone cord,0
7200,10315,weapon,,abes government made clear that grenades were ...,1