# Data Cleaning

## Introduction

* This notebook goes through a necasssary step of cleaning the data before it is used for exploratory data analysis. 
* The input of this notebook is a training dataset in csv format sourced from Kaggle. https://www.kaggle.com/c/nlp-getting-started
* The output of this notebook is a csv file with clean and lemmatized text data.

## Reading and Understanding the dataset

In [514]:
# Importing libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re           # regular expression 
import string       # String Handling
import random       #For selecting random rows
import nltk         # Natural langauage processing toolkit
from nltk.stem import WordNetLemmatizer  #Used for Lemmatizing the text
from nltk.corpus import wordnet          #Used for POS tagging 
from nltk.corpus import stopwords        #Stopwords to be removed from text

Reading the training data into a dataframe using pandas and viewing the top 20 rows of data

In [515]:
train_df = pd.read_csv("train.csv")
train_df.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0

First 20 rows in 'Keyword' and 'Location' column are NaNs. Now Checking if there are nulls in other columns of the dataframe.

In [516]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

Checking number of unique values in 'keywords' and 'location'.

In [517]:
len(train_df.keyword.unique())

222

In [518]:
len(train_df.location.unique())

3342

A glimpse at 50 rows from the 'locations' column selected randomly

In [519]:
random.sample(list((train_df.location.unique())),k=50)

['Wasington, DC',
 'Soul Somalia/Body Montreal',
 'london',
 'Jersey',
 'Denver, CO',
 'todaysbigstock.com',
 'hatena bookmark',
 'Your screen',
 '?Gangsta OC / MV RP; 18+.?',
 'N?? Y???.',
 'twitch.tv/naturalemblem26',
 'global',
 'USA',
 'Brackley Beach, PE, Canada',
 'Liverpool',
 'Email: Lovethterry@gmail.com',
 'Chicora ?? Oakland',
 'Dublin, Ireland',
 'Caracas, Venezuela.',
 'Spying on your thoughts',
 'Karachi, Pakistan',
 'NY',
 'Tallahassee Florida',
 'Galapa / AtlÌÁntico',
 'Atlanta, Georgia USA',
 'Los Angeles',
 'The Triskelion',
 'Oklahoma',
 'Oregon, USA',
 'Greenville,SC',
 'Republic of the Philippines',
 'Lansing, Michigan',
 'My old New England home',
 'Top secret bunker ',
 'USAoV',
 'teh internets',
 'ÌÏT: 33.209923,-87.545328',
 'Magnolia',
 'sÌ£o luis',
 'Perth, Western Australia',
 'Weyburn',
 'Torry Alvarez love forever ? ?',
 "L'Enfant Plaza Metro Station",
 'Kenosha, WI 53143',
 'Chicopee MA',
 'Canada Eh! ',
 'Hawaii, USA',
 'This Is Paradise. Relax. ',
 'England ',
 'Upper manhattan, New York']

A glimpse at 50 rows from the 'keywords' column selected randomly

In [520]:
random.sample(list((train_df.keyword.unique())),k=50)

['annihilated',
 'nuclear%20reactor',
 'detonation',
 'eyewitness',
 'displaced',
 'explode',
 'panic',
 'hijack',
 'derailment',
 'sinking',
 'survive',
 'thunderstorm',
 'drowned',
 'flattened',
 'cyclone',
 'attack',
 'evacuated',
 'exploded',
 'casualties',
 'hostages',
 'electrocute',
 'weapon',
 'lightning',
 'sirens',
 'wreck',
 'structural%20failure',
 'quarantined',
 'attacked',
 'deaths',
 'curfew',
 'hailstorm',
 'hijacking',
 'devastated',
 'crush',
 'evacuation',
 'collided',
 'destroyed',
 'screamed',
 'desolate',
 'emergency',
 'wounded',
 'body%20bag',
 'blizzard',
 'flooding',
 'explosion',
 'fatalities',
 'blew%20up',
 'obliterate',
 'inundated',
 'typhoon']

A glimpse at 30 rows from the 'text' column selected randomly

In [521]:
# Selecting 30 random from text column randomly
random.sample(list((train_df.text)),k=30)

['@LA_Siren Thanks for joining the foot. @VVorm',
 "Murfreesboro peeps- I'm hearing Walmart on S Rutherford is on lockdown with a hostage is that true or a rumor?",
 '1st Quality Insurance Group is #hiring Licensed Property &amp; Casualty Insurance Agent Produc http://t.co/VMJRtuVmh4 #jobs #Denver',
 'Obama Declares Disaster for Typhoon-Devastated Saipan: Obama signs disaster declaration for Northern Marians a... http://t.co/PC8BvufLFJ',
 'UD: Rescue (Structural Collapse) - Scott Road @ Ypres Road York (14 Trucks)',
 'remember that time goku gave life to a dead birb \nwhat the hell goku',
 '#EMERGENCY in Odai Bucharest Romania 600 Dogs Dying!They are so Hungry that they EAT EACH OTHER! http://t.co/pjigXPVPl0',
 "@pattonoswalt @FoxNews Wait I thought Fecal Hurricane was on SciFi? Maybe that was turdnado. I've been forgeting up a shit storm lately.",
 'Forest fires could delay @AbbyAirshow but officials say it could be a good thing http://t.co/Vxjcx8uKMd',
 'So grateful for all the support flooding in from @NetkiCorp dinner guests! THANK YOU ALL! https://t.co/ELTne5v1Qn',
 'need to work in an office I can bang all my fav Future jams out loud',
 'Property losses from #California wildfire nearly double as week-old blaze rages: The fire\x89Û_ http://t.co/MsdizftZ2g',
 'Police: Man killed ex grandmother after son wasn&amp;#8217;t named after him http://t.co/ndCy8Q7R6I OMG!!!!! Absolutely Crazy!!!',
 "Biolab safety concerns grow: FedEx stops transporting certain specimens. Research facilities 'dumbfounded' by action. http://t.co/RUjV4VPnBV",
 'Flood: Two people dead 60 houses destroyed in Kaduna: Two people have been reportedly killed and 60 houses ut... http://t.co/BDsgF1CfaX',
 "'We are now prepared to obliterate more rapidly and completely every productive enterprise the Japanese have above ground in any city.'",
 "Reddit's new content policy shows that maybe Reddit can't have it all http://t.co/YO3T8qho9h via @nkulw http://t.co/8oDTzMvqaR",
 '#4: The Hobbit: The Desolation of Smaug (Bilingual) http://t.co/G5dO2X6226',
 'National free root beer float day is tomorrow at A&amp;W from 2pm-close!! Help support the Wounded Warrior Project with donations!! :)',
 "Don't think I Can take anymore emotional wreck watching @emmerdale #SummerFate @MikeParrActor @MissCharleyWebb",
 'On plus side LOOK AT THE SKY LAST NIGHT IT WAS ABLAZE http://t.co/qqsmshaJ3N',
 'Hey there lonely girl\nDid you have to tell your friends\nAbout the way I got you screaming my name?',
 "Some poor sods arriving in Amman during yesterday's dust storm were diverted to Ben Gurion airport: http://t.co/jkpjpcH9i6",
 '13000 evacuated as California firefighters fight flames to save homes. #RockyFire http://t.co/tB52o146tx http://t.co/tsbTiGDSDT',
 "@eunice_njoki aiii she needs to chill and answer calmly its not like she's being attacked",
 '@helene_yancey GodsLove &amp; #thankU my sister Helene for RT of NEW VIDEO http://t.co/cybKsXHF7d The Coming Apocalyptic US Earthquake &amp; Tsunami',
 'Wow what beauty lies within every storm. Taken today after a rainstorm at A&amp;B Pipeliners http://t.co/pSt5bBQ0av',
 'London Life: photos of a beautiful bombed-out Britain http://t.co/2RAcaiVFfq #arts',
 "I never knew about the relationship btwn Kansas City Hyatt bridge collapse &amp; AIA's COTE.   http://t.co/ThS9IqSWP3 via @HuffPostArts",
 '@eggalie haha I love hurricane because of you']

## Observation

Some data incosistencies or redundant information found in the dataset are as follows

* Upper case and lower case at unexpected location
* Punctuations
* Numbers in text 
* Use of cities, states and Country names. (Granularity problem)
* Special characters such as \x89ÛÒ and \n
* Hyperklinks
* Tags in tweets

## Cleaning the data

The method below does the following to clean anomalies in 'location' column:

* Changes all the text to lower case
* Removes punctutations
* Removes texts with numbers
* Removes cities names if country/state names are mentioned. (High level granularity is maintained)

In [522]:
# Method to chaange text to lower case and remove punctionation
def cleaning_location(text):
    text = str(text)
    text = text.lower()    #lower case
    text = text.split(',')[-1:][0].strip() # Removing city names when country/state name is present
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  #removing punctuations
    text = re.sub('\w*\d\w*', '', text) #removing text with number

    
    return text

# Applying the method to location column
train_df.location = train_df.location.apply(cleaning_location)

The method below does the following to clean anomalies in 'keyword' column:

* Changes all the text to lower case
* Removes punctutations
* replaces number with space (as %20 was found in middle of two words)

In [523]:
def cleaning_keyword(text):
    text = str(text)
    text = text.lower()    ##lower case
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('(\d+)', ' ', text)   #replacing numbers with space
    return text

# Applying the method to keyword column
train_df.keyword = train_df.keyword.apply(cleaning_keyword)

The following method extracts the hashtags from the tweets. These hashtags play a vital role in interpreting the context of the tweet

In [524]:
def retreive_hashtags(text):
    hash_tag = ''
    hash_tag = re.sub('#','',' '.join(re.findall('(#[A-Za-z]+[A-Za-z0-9-_]+)', text)))  #retreiving hastags
    return hash_tag

# Applying the method to retreive hastags and add to the hastag column
train_df["Hasthags"] = ''
train_df.Hasthags= train_df.text.apply(retreive_hashtags)

The following method to clean anomalies in 'text' column does the following

* Changes all the text to lower case
* Removes words starting with @ to remove the tags and mentions example: @barackobama
* Adds a column with hashtag values
* Removes links
* Removes punctuation
* Removes words with numbers
* Removes special characters examples: \x89û,\x89ûó etc 
* Removes '\n'

In [525]:
def cleaning_text(text):
    
    text = str(text)
    text = text.lower()    ##lower case
    
    text = re.sub(r'@[A-Za-z]+[A-Za-z0-9-_]+', '',text) #removing any word starting with @   \w
    text = re.sub(r'https|www|http\S+', '', text)  #removing any word starting with http
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('\w*\d\w*', '', text)  #removing words with numbers
    text = re.sub(r'[^\x00-\x7F]+', '', text) # removing special characters
    text.replace("\n","")
    return text

The following method converts NLTK tags to wordnet tags which would be used to lemmatize the words in the following method

In [526]:
def wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:          
        return None

The following method is used to lemmatize the sentences in the following order:

* Clean the sentences by calling the cleaning_text method on each sentence.
* Tokenizing the sentence and generating a nltk POS tag for each word in the cleaned sentence.
* Converting the nltk POS tag to Wordnet POS tag by calling wordnet_tag method.
* Removes the stopwords
* Lemmatizes the tokens using the pos tags

In [527]:
lemmatizing = WordNetLemmatizer()

def lemmatize_sentence(sentence):
    sentence = cleaning_text(sentence) #Cleaning the sentence
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))  #Tokenizing and tagging each word 
    wordnet_tagged = map(lambda x: (x[0], wordnet_tag(x[1])), nltk_tagged)  # Coverting the NLTK tags to wordnet tag
    
    #Lemmatizing the tagged tokens
    lemmatized_sentence = [] #empty list for lemmatized words
    for word, tag in wordnet_tagged:
        if word not in set(stopwords.words('english')):  #removing stopwords
            if tag is None:                   
                lemmatized_sentence.append(word) #adding the word as it is if POS tag missing
            else:        
                #else use the tag to lemmatize the token
                lemmatized_sentence.append(lemmatizing.lemmatize(word, tag))  ##lemmatizing the token using the POS tag
    return " ".join(lemmatized_sentence)

In [528]:
# Applying the lemmatizing method to Hashtags column 
train_df.Hasthags= train_df.Hasthags.apply(lemmatize_sentence)

# Applying the lemmatizing method to text column 
train_df.text= train_df.text.apply(lemmatize_sentence)

In [533]:
train_df.to_csv("Clean_train_data")

,id,keyword,location,text,target,Hasthags
5621,8019,refugees,nan,hmm nigerian refugee repatriate cameroon,1,
6274,8965,storm,mackem in bolton,every time buy bag life think ive get day leav...,0,
1731,2494,collided,nan,even bad look american constitutional system c...,0,
5051,7199,natural disaster,mì©xico df,ral send message condolence vietnam follow nat...,1,
4392,6244,hijacking,mongolia,hot funtenna hijack computer send data sound w...,1,hot prebreak best
4937,7032,mayhem,interplanetaryzone,best mind clear content observation day tcopcc...,0,
3804,5406,fire truck,nan,even sun article nno,0,
523,755,avalanche,ireland,little piece write avalanche design blog id ap...,0,
1423,2055,casualties,new yor,warfighting robot could reduce civilian casual...,1,ftsn ftsnnewsdesk
28,40,nan,nan,cooool,0,
721,1042,bleeding,in the middle of no where,eat takis rub eye hand eye bleed tear,0,
1977,2844,cyclone,vilnius,drug alcohol jackson vroman house,0,
4279,6078,heat wave,nan,long streak tripledigit heat since forecast da...,1,
4606,6549,injury,massachusetts,greg garza atlas tonight v leone negro copa mx...,0,usmnt
5322,7600,pandemonium,nc,element freedom big party summer mirage saturd...,0,
7190,10302,weapon,act,hey guy thanks rock world follow,0,
600,868,bioterror,across the atlantic,breakingnews fedex longer willing transport re...,0,breakingnews
3981,5657,flooding,tx,memorial unveil travis county deputy kill sept...,1,
4646,6605,inundated,kenya,fb page bushman safari zimbabwe company palmer...,0,
3533,5050,eyewitness,nan,dk eyewitness travel guide chicago dorling kin...,0,
7440,10647,wounds,kashmir,acc study conduct skim morethan population kas...,1,kashmir kashmirconflict
5631,8031,refugees,melbourne australia,captain abbott must go lnp boat refugee christ...,0,refugee christianvalues
2278,3266,demolish,wema building,enugu government demolish illegal structure in...,0,
5968,8520,screaming,all around the world,im scream omg idol wdym,0,idol wdym
934,1351,blown up,scotland,get last month go ee shop glad hasnt blow yet,0,
2151,3086,deaths,blackpool,cancer equate around death blackpool kowing si...,1,blackpool beclearoncancer
3057,4385,earthquake,desde republica argentina,sismo nne geyser california c,0,sismo c
3846,5473,flames,nan,sbnation flame make good penalty killer,0,sbnation flame
2893,4157,drown,nan,lowkey already know youre gon na drown school ...,0,
6047,8643,sinkhole,nan,mrw sinkhole open beneath friend gif funny lol...,1,gif funny lol comedy ifunny video image rt
6974,10004,tsunami,in the word of god,godslove amp thanku sister rt new video come a...,0,thanku
647,938,blaze,ca,pendleton medium office say fire base right ho...,1,
2718,3904,devastated,nan,gujaratriot amp devastate indianperpetrated mo...,1,gujaratriot modi chawalchorbjp
2389,3435,derail,england,buyout giant bid derail worldpay ipo skynews,0,
4040,5739,forest fires,nan,naturaldisasters california fire rage forest s...,1,naturaldisasters
827,1203,blizzard,nan,update window get error,0,
2921,4200,drowned,nan,wtf mom drown child,1,
1746,2513,collision,ca,santa fe spring studebaker rd south st trfc co...,0,
5658,8070,rescue,sydney,length rescue cat need,0,
2487,3570,desolate,finland,new favorite desolate soundcloud,0,soundcloud
3200,4593,emergency plan,ave sw,municipal emergency plan effect stay safe ever...,1,abstorm yyc
6297,8998,stretcher,oklahoma city,dan hughes take stretcher danielle robinson co...,0,
3178,4563,emergency plan,somewhere in the canada,city calgary activates municipal emergency plan,1,
6407,9159,suicide bomber,worldwide,kill sarabia mosque suicide bomb suicide bombe...,1,
5744,8202,riot,nan,discover listenbuy riot blowmandyup,0,riot blowmandyup
249,354,annihilation,spain,starmade stardate planetary annihilation via,1,
6635,9502,terrorist,nan,fresh encounter pulwama jampampk one terrorist...,1,
2260,3240,deluged,nan,business deluge invoice make stand colour shap...,1,
2590,3718,destroyed,usa,black eye space battle occur star involve flee...,0,
1072,1547,bomb,whs,happy birthday big miss girl hope bomb one,0,