# Data Cleaning

## Introduction

* This notebook goes through a necasssary step of cleaning the data before it is used for exploratory data analysis. 
* The input of this notebook is a training dataset in csv format sourced from Kaggle. https://www.kaggle.com/c/nlp-getting-started
* The output of this notebook is a csv file with clean and lemmatized text data.

## Reading and Understanding the dataset

In [561]:
# Importing libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re           # regular expression 
import string       # String Handling
import random       #For selecting random rows
import nltk         # Natural langauage processing toolkit
from nltk.stem import WordNetLemmatizer  #Used for Lemmatizing the text
from nltk.corpus import wordnet          #Used for POS tagging 
from nltk.corpus import stopwords        #Stopwords to be removed from text

Reading the training data into a dataframe using pandas and viewing the top 20 rows of data

In [562]:
train_df = pd.read_csv("train.csv")
train_df.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0

First 20 rows in 'Keyword' and 'Location' column are NaNs. Now Checking if there are nulls in other columns of the dataframe.

In [563]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

Checking number of unique values in 'keywords' and 'location'.

In [564]:
len(train_df.keyword.unique())

222

In [565]:
len(train_df.location.unique())

3342

A glimpse at 50 rows from the 'locations' column selected randomly

In [566]:
random.sample(list((train_df.location.unique())),k=30)

['Australian Capital Territory',
 'Wrex',
 'Emirates',
 "Sharkatraz/Bindle's Cleft, PA",
 'y/e/l',
 "satan's colon",
 'Narnia, Maryland',
 'Oklahoma',
 'ona block w/ my BOY ??',
 'Philippines ',
 'Winnipeg, Manitoba',
 'di langit 7 bidadari (^,^ )',
 "Plain O' Texas",
 '@notoriousD12',
 'Woosley',
 'Fresno, CA',
 "Jakarta/Kuala Lumpur/S'pore",
 'call me peach or sam lo',
 'Leeds, England',
 'Burlington, VT',
 'Santa Maria, CA',
 '#HarleyChick#PJNT#RunBenRun',
 'England,UK,Europe,Sol 3.',
 'Stalybridge, Tameside',
 'District of Gentrification/ DC',
 'Tripsburg, ms.',
 'Lynnfield, MA',
 'Dayton, Ohio',
 'Eastbourne England',
 'Scottsdale, AZ']

A glimpse at 50 rows from the 'keywords' column selected randomly

In [567]:
random.sample(list((train_df.keyword.unique())),k=30)

['desolate',
 'body%20bag',
 'desolation',
 'trouble',
 'fatal',
 'collided',
 'wreckage',
 'engulfed',
 'body%20bagging',
 'deluge',
 'bioterror',
 'blown%20up',
 'fear',
 'weapon',
 'natural%20disaster',
 'burned',
 'earthquake',
 'hellfire',
 'heat%20wave',
 'windstorm',
 'ruin',
 'detonate',
 'nuclear%20reactor',
 'survive',
 'dust%20storm',
 'riot',
 'airplane%20accident',
 'tsunami',
 'screamed',
 'terrorist']

A glimpse at 30 rows from the 'text' column selected randomly

In [568]:
# Selecting 30 random from text column randomly
random.sample(list((train_df.text)),k=30)

['Boy 11 charged with manslaughter in shooting death of Elijah Walker http://t.co/HUrIIVFDKC',
 'Two air ambulances on scene of serious crash between two cars and lorry in ... - http://t.co/9pFEaQeSki http://t.co/fntG70rnkx | #EMSNe\x89Û_',
 'SANTA CRUZ \x89ÛÓ Head of the St Elizabeth Police Superintendent Lanford Salmon has r ... - http://t.co/vplR5Hka2u http://t.co/SxHW2TNNLf',
 "@OKgooner hahaha great song. 'Spent 15 years getting loaded. 15 years till his liver exploded. Now what's Bob going to do NOW that he...'",
 "Evacuation drill at work. The fire doors wouldn't open so i got to smash the emergency release glass #feelingmanly",
 'Emergency responders prepare for chemical disaster through Hazmat training. http://t.co/q9zixCi8E6',
 "The grenade sound effect on 'Impossible' just destroyed about 10 other hoes careers ??",
 "This weekend is me and Nathan's birthday weekend so if you want to drown yourself in beer do reckless things and potentially die hmu",
 '@DJJOHNBLazE shout out blaze the hottest DJ in the Sothwest',
 'Stemming from my #Cubs talk- the team rosters 2 cancer survivors in @ARizzo44 &amp; @JLester34...@Cubs fans: help another http://t.co/XGnjgLE9eQ',
 'BUT I will be uploading these videos ASAP so you guys get to see the new weapon types in action!',
 'Homemade frozen yogurt pops? Have you had luck making them? http://t.co/YzaZF4CEOa http://t.co/X5RC5Nuamh',
 "#LukeBox something about first responders/ military they are our true Hero's!! Besides your music",
 '@deadlydemi even staying up all night to he barrier for tÌüp and then having to run through a dust storm and almost passing out?',
 '@Hendy_21 sure the purdies will be alive with the blight ??',
 "Men escape car engulfed in flames in Parley's Canyon crews investigating cause - http://t.co/YfAVSuOgvl http://t.co/ISI1rLLCt0",
 'Cleveland Heights Shaker Heights fight blight: The House Next Door http://t.co/wYOKt0ftRw',
 "My niece just asked me 'would you be scared if there was an apocalypse here?' ????",
 "Woke up to Drake body bagging Meek again!! Meek u can't out spit ya girlfriend... Just lay down Man.... NOT Right... http://t.co/6CraEKc9wb",
 '@RaynbowAffair Editor In Chief @DiamondKesawn Releases Issue #7 http://t.co/EbbF1N7MAJ of #RAmag. #Fashion #Models and #Mayhem',
 '#AyekoRadio play Brasswork Agency - Crushed and Shaken http://t.co/Qh5axvhWH5 #Radio #NetLabel #ElectronicMusic #listen #CCMusic',
 '@BenignoVito @LibertyBell1000 HILLARYMASS MURDERER.',
 "@sarahmcpants @JustJon I'll give him a titty twister",
 'What you gonna do now puppies?! No more destroying my #iPhone Lightning cables! https://t.co/Z4jyHaRreW',
 "Please please u gotta listen to @leonalewis # essenceOfMe and thunder it's major\n#she's #back ????????",
 "#OMG! I don't believe this. #RIP bro\n#AirPlane #Accident #JetEngine #TurboJet #Boing #G90 http://t.co/KXxnSZp6nk",
 'The Latest: More homes razed by Northern California wildfire: The latest on wildfires burning in California and\x89Û_ http://t.co/0Keh2TReNy',
 'AH-Mazing story of the power animal rescuers have! A starving homeless dog with no future was rescued by a person... http://t.co/ficd5qbqwl',
 'Rory McIlroy to Test Ankle Injury in Weekend Practice #chinadotcom #sports http://t.co/UDTGWfSc3P http://t.co/V5wSx0LQN2',
 'When you go to a concert and someone screams in your ear... Does it look like I wanna loose my hearing anytime soon???']

## Observation

Some data incosistencies or redundant information found in the dataset are as follows

* Upper case and lower case at unexpected location
* Punctuations
* Numbers in text 
* Use of cities, states and Country names. (Granularity problem)
* Special characters such as \x89ÛÒ and \n
* Hyperklinks
* Tags in tweets

## Cleaning the data

The method below does the following to clean anomalies in 'location' column:

* Changes all the text to lower case
* Removes punctutations
* Removes texts with numbers
* Removes cities names if country/state names are mentioned. (High level granularity is maintained)

In [569]:
# Method to chaange text to lower case and remove punctionation
def cleaning_location(text):
    text = str(text)
    text = text.lower()    #lower case
    text = text.split(',')[-1:][0].strip() # Removing city names when country/state name is present
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  #removing punctuations
    text = re.sub('\w*\d\w*', '', text) #removing text with number
    return text

# Applying the method to location column
train_df.location = train_df.location.apply(cleaning_location)

The method below does the following to clean anomalies in 'keyword' column:

* Changes all the text to lower case
* Removes punctutations
* replaces number with space (as %20 was found in middle of two words)

In [570]:
def cleaning_keyword(text):
    text = str(text)
    text = text.lower()    ##lower case
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('(\d+)', ' ', text)   #replacing numbers with space
    return text

# Applying the method to keyword column
train_df.keyword = train_df.keyword.apply(cleaning_keyword)

The following method extracts the hashtags from the tweets. These hashtags play a vital role in interpreting the context of the tweet

In [571]:
def retreive_hashtags(text):
    hash_tag = ''
    hash_tag = re.sub('#','',' '.join(re.findall('(#[A-Za-z]+[A-Za-z0-9-_]+)', text)))  #retreiving hastags
    return hash_tag

# Applying the method to retreive hastags and add to the hastag column
train_df["Hasthags"] = ''
train_df.Hasthags= train_df.text.apply(retreive_hashtags)

The following method to clean anomalies in 'text' column does the following

* Changes all the text to lower case
* Removes words starting with @ to remove the tags and mentions example: @barackobama
* Adds a column with hashtag values
* Removes links
* Removes punctuation
* Removes words with numbers
* Removes special characters examples: \x89û,\x89ûó etc 
* Removes '\n'

In [572]:
def cleaning_text(text):
    
    text = str(text)
    text = text.lower()    ##lower case
    
    text = re.sub(r'@[A-Za-z]+[A-Za-z0-9-_]+', '',text) #removing any word starting with @   \w
    text = re.sub(r'https|www|http\S+', '', text)  #removing any word starting with http
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  ##removing punctuations
    text = re.sub('\w*\d\w*', '', text)  #removing words with numbers
    text = re.sub(r'[^\x00-\x7F]+', '', text) # removing special characters
    text.replace("\n","")
    return text

The following method converts NLTK tags to wordnet tags which would be used to lemmatize the words in the following method

In [573]:
def wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:          
        return None

The following method is used to lemmatize the sentences in the following order:

* Clean the sentences by calling the cleaning_text method on each sentence.
* Tokenizing the sentence and generating a nltk POS tag for each word in the cleaned sentence.
* Converting the nltk POS tag to Wordnet POS tag by calling wordnet_tag method.
* Removes the stopwords
* Lemmatizes the tokens using the pos tags

In [574]:
lemmatizing = WordNetLemmatizer()

def lemmatize_sentence(sentence):
    sentence = cleaning_text(sentence) #Cleaning the sentence
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))  #Tokenizing and tagging each word 
    wordnet_tagged = map(lambda x: (x[0], wordnet_tag(x[1])), nltk_tagged)  # Coverting the NLTK tags to wordnet tag
    
    #Lemmatizing the tagged tokens
    lemmatized_sentence = [] #empty list for lemmatized words
    for word, tag in wordnet_tagged:
        if word not in set(stopwords.words('english')):  #removing stopwords
            if tag is None:                   
                lemmatized_sentence.append(word) #adding the word as it is if POS tag missing
            else:        
                #else use the tag to lemmatize the token
                lemmatized_sentence.append(lemmatizing.lemmatize(word, tag))  ##lemmatizing the token using the POS tag
    return " ".join(lemmatized_sentence)

In [575]:
# Applying the lemmatizing method to Hashtags column 
train_df.Hasthags= train_df.Hasthags.apply(lemmatize_sentence)

# Applying the lemmatizing method to text column 
train_df.text= train_df.text.apply(lemmatize_sentence)

Let's have a look at the cleaned dataframe

In [579]:
train_df.sample(n=30)

,id,keyword,location,text,target,Hasthags
2614,3752,destruction,nan,crackdown destruction restrict multiplayer cra...,0,
1210,1744,buildings burning,il,infosec rather know firefighter day often run ...,0,infosec
6322,9038,stretcher,florida,restore vinyl siding make look new,0,
2918,4197,drown,inside your webcam stop that,send drown like way u think yes,0,yes
127,183,aftershock,marysville ca,praise god ministry tell like wdyouth biblestudy,0,wdyouth biblestudy
2603,3737,destroyed,nan,hi david saw usa walk war destroy life million...,1,irandeal
1034,1500,body bags,tx,bring body bag tho,0,
5677,8101,rescued,west hollywood,summer summervibes california puppy pitmix res...,0,summervibes california puppy pitmix rescue bri...
5492,7837,quarantine,nan,reddit quarantine offensivecontent,0,
4066,5778,forest fires,bc,forest fire could delay official say could goo...,1,
746,1078,bleeding,valencia,say bad thing happen reason wise word gon na s...,0,
863,1245,blood,nan,cant believe people mid dont high blood pressu...,1,decisionsondecisions
4152,5901,harm,nan,inner man wayward route harm spent replace onl...,0,
2875,4132,drought,texas,californian like living africas sahel desert f...,1,
7463,10679,wounds,not steven yeun amc,man gently dab cotton rag across one wound pai...,0,
5977,8536,screaming,nan,im scream,0,
5535,7895,radiation emergency,mn usa,nuclear emergency current usa radiation level ...,0,
5428,7747,police,mo,police gunman report dead nashville area theat...,1,
4295,6100,hellfire,colorado,say rude base experience kind next level sub t...,0,
2786,4008,disaster,chillin at ceder rapids,beautiful disaster jon mclaughlin good song,0,
6891,9878,traumatised,lowestoft,funny im traumatise,0,
6039,8633,seismic,somalia,exploration take seismic shift gabon somalia,1,gabon somalia
174,249,ambulance,nan,twelve fear kill pakistani air ambulance helic...,1,yugvani
5684,8111,rescued,nan,fund need rescue abandon cocker spaniel,0,
6877,9860,traumatised,kirkwall,deep road tho hahahaha im traumatise deep road...,0,
1568,2265,cliff fall,nan,youre reading go accidentally fall cliff mate,0,
5057,7206,natural disaster,nan,ral send message condolence vietnam follow nat...,1,
2221,3179,deluge,nz,light rain forecast base dress light rain ince...,0,
4476,6366,hostages,china,hot specially modify land stadium rescue hosta...,0,hot prebreak best
7298,10444,wild fires,ca,map show california wildfire burn map create c...,1,fire

Saving the cleaned dataframe as csv to be used for Modelling.

In [577]:
train_df.to_csv("Clean_train_data.csv")